.address-book {
  width: 80%;
  display: flex;
  margin: 20px auto;
  max-height: 300px;
  flex-direction: row;
  justify-content: space-evenly;

  address-form,
  address-list {
    width: 45%;
    padding: 20px;
  }

  address-list {
    overflow-y: scroll;
    box-shadow: 1px 1px 3px #aaa;
  }
}
